<%- include('template/cabecera.ejs') %>
<%- include('template/mainmenu.ejs') %>
   <div class="container p-5"> 
                  
            <h1 class="text-uppercase text-center text-warning bg-dark p-2">Bienvenida Al Panel De Administracion <%= users  %> </h1>                 
   </div>

<%- include('template/footer.ejs') %>