<%- include('template/cabecera.ejs') %>
<%- include('template/mainmenu.ejs') %>
   <div class="container p-5"> 
                  
            <h1 class="text-uppercase text-center text-warning bg-dark p-2">Bienvenida Al Panel De Administracion <%= users  %> </h1>                 
            <div class="row">
               <div class="col-md-4 col-sm-8 col-xm-12 ">
                  <div class="card">
                     <div class="card-header bg-primary">
                        <h3 class="text-white">Productos</h3>
                       
                     </div>
                     <div class="card-body bg-dark">
                        <div class="p-2 text-white">
                         Cantidad de productos ----------- <strong class="badge badge-primary">45</strong>
                        </div>
                        <div class="p-2 text-white">
                           Cantidad de ordenes -------------- <strong class="badge badge-danger">35</strong>
                        </div>
                        <div class="p-2 text-white">
                           Cantidad de pendientes --------- <strong class="badge badge-success">05</strong>
                        </div>
                      </div>
                  </div>
               </div>


               <div class="col-md-4 col-sm-8 col-xm-12 ">
                  <div class="card">
                     <div class="card-header bg-success">
                        <h3 class="text-white">Proveedores</h3>
                       
                     </div>
                     <div class="card-body bg-dark">
                        <div class="p-2 text-white">
                         Cantidad de productos ----------- <strong class="badge badge-primary">45</strong>
                        </div>
                        <div class="p-2 text-white">
                           Cantidad de ordenes -------------- <strong class="badge badge-danger">35</strong>
                        </div>
                        <div class="p-2 text-white">
                           Cantidad de pendientes --------- <strong class="badge badge-success">05</strong>
                        </div>
                      </div>
                  </div>
               </div>


               <div class="col-md-4 col-sm-8 col-xm-12 ">
                  <div class="card">
                     <div class="card-header bg-danger">
                        <h3 class="text-white">Categorias</h3>
                       
                     </div>
                     <div class="card-body bg-dark">
                        <div class="p-2 text-white">
                         Cantidad de productos ----------- <strong class="badge badge-primary">45</strong>
                        </div>
                        <div class="p-2 text-white">
                           Cantidad de ordenes -------------- <strong class="badge badge-danger">35</strong>
                        </div>
                        <div class="p-2 text-white">
                           Cantidad de pendientes --------- <strong class="badge badge-success">05</strong>
                        </div>
                      </div>
                  </div>
               </div>
              

             
            </div>
   </div>

<%- include('template/footer.ejs') %>