<%- include('template/cabecera.ejs') %>
<%- include('template/mainmenu.ejs') %>
   <div class="container p-5">
 
            <h1 class="p-5 text-uppercase text-warning">panel Products</h1>
   </div>

<%- include('template/footer.ejs') %>