<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand" >
       <img src="/img/logmile.png" alt="logo" width="30px">
        <strong class="text-danger">
            Milena
        </strong> 
        <small class="text-primary">
            Power
        </small>
    </a>
   
  </nav>